= form_for @note, :html => { :class => 'form-horizontal' } do |f|
  - if @note.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{:type => 'button', :'data-dissmiss' => 'alert', :'aria-hidden' => 'true'} &times;
      %ul
        - @note.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :title, :class => 'control-label'
    = f.text_field :title, :class => 'text_field form-control'
  .form-group
    = f.label :desc, :class => 'control-label'
    = f.text_area :desc, :class => 'text_area form-control', :rows => 20
  .form-group
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), notes_path, :class => 'btn btn-default'
