- model_class = Note
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:desc)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @notes.each do |note|
      %tr
        %td= link_to note.title.present? ? note.title.scan(/.{1,20}/).first : '', note_path(note)
        %td= note.desc.present? ? note.desc.scan(/.{1,20}/).first : ''
        %td=l note.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_note_path(note), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), note_path(note), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_note_path, :class => 'btn btn-primary'
