- model_class = Note

%p
  %strong= model_class.human_attribute_name(:title) + ':'
  %br
  = @note.title
%p
  %strong= model_class.human_attribute_name(:desc) + ':'
  %br
  = @note.desc


= link_to t('.back', :default => t("helpers.links.back")), notes_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_note_path(@note), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), note_path(@note), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
