%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-inline' }) do |f|
  = devise_error_messages!
  .form-group
    = f.label :email, class: 'sr-only'
    = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'email'
  .form-group
    = f.label :password, class: 'sr-only'
    = f.password_field :password, class: 'form-control', placeholder: 'password'
  .form-group
    = f.label :password_confirmation, class: 'sr-only'
    = f.password_field :password_confirmation, class: 'form-control', placeholder: 'password confirmation'
  = f.submit 'Sign up'
  = render 'devise/shared/links'
