%h2 Sign in
= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-inline' }) do |f|
  .form-group
    = f.label :email, class: 'sr-only'
    = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'email'
  .form-group
    = f.label :password, class: 'sr-only'
    = f.password_field :password, class: 'form-control', placeholder: 'password'
  - if devise_mapping.rememberable?
    = f.check_box :remember_me
    = f.label :remember_me
  = f.submit 'Sign in'
  = render 'devise/shared/links'
